<div class="w-100 pb-2" style="border-bottom: black 2px solid">
  <button class="btn btn-success w-100" (click)="openModalWithClass(template)" >Add Device</button>
</div>

<div class="row">

</div>




<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <add-device  [bsModal]="modalRef"></add-device>
  </div>
</ng-template>