<div class="alert alert-success  " style="margin-bottom: 0px;">
  <div class="container row">
    <div class="col-12 col-xl-3 col-sm-3 col-lg-3">
<img src="assets/images/tma_logo.png" alt="">
    </div>
    <div class='col-12 col-xl-5 col-sm-5 col-lg-5'></div>
    <div class='col-12 col-xl-4 col-sm-4 col-lg-4'>
      <br/>
      <br/>
      <br>
  
      <div class="text-center" >
      <a class="font-weight-bold h5">Home</a><br/>
      <a  class="font-weight-bold h5">Devices</a><br/>
      <a  class="font-weight-bold h5">Contacts</a><br/>
      <a  class="font-weight-bold h5">About</a><br/>
      <a  class="font-weight-bold h5">Sign out</a><br/>
    </div>
    </div>
   
  </div>
  <div class="text-center"><p>Copyright @TMA solution</p></div>
</div>
