

<div class="containerheader"  id="home" >


    <div  >
        <!--<nav class="navbar navbar-expand-sm bg-light navbar-light">-->
        <ul class="containerheader w-100" style="height: 80px;">
            <li class="float-left ml-5" (mouseenter)="hover=true" (mouseleave)="hover=false" ><a> Hi {{usernameI}} !</a>

                <div *ngIf="hover"  @menuState class="text-danger  position ">
                    <br>
                    <div class="box">
                    <a>Borrowed Devices</a>
                    <a>Profile User</a>
                    <a (click)="logout()">Logout</a>
                    </div>
                </div>
            </li>


            <!--routerLink="/{{nav.url}}"-->
            <ul class="float-right">
                <li  *ngFor="let nav of navs;  let i=index">
                    <a [class.active]="active===i"  [pageScrollSpeed]="1000" pageScroll href="{{nav.url}}"  (click)="activeClick(i,Login,Register)" *ngIf="showLogin(i)"  >{{nav.title}}</a>
                </li>
            </ul>


        </ul>

        <!--</nav>-->
    </div>
    <div style="clear: both; margin-top: 80px;" >
        <carousel >
            <slide>
                <img src="assets/images/1.jpg" alt="first slide" style="display: block;height: auto; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
            <slide>
                <img src="assets/images/2.jpg" alt="second slide" style="display: block; height: auto;width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </slide>
            <slide>
                <img src="assets/images/3.jpg" alt="third slide" style="display: block; height: auto;width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </slide>
        </carousel>
    </div>
</div>

<ng-template #Login class="modal fade"    >
    <div class="modal-content" >
        <div class="modal-header">
            <div class="text-center w-100 text-success"> <h4 class="modal-title pull-left">Login</h4></div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body " >
            <form [formGroup]="loginForm" (ngSubmit)="login()" >
                <div  class="form-group">
                    <label for="username">Username:</label>
                    <input formControlName="username" [(ngModel)]="usernameL" name="username" type="text" class="form-control" id="username">

                    <div *ngIf="getUsername.pending">Checking  for unique</div>
                    <div *ngIf="getUsername.touched && getUsername.invalid" class="alert alert-danger">
                        <div *ngIf="getUsername.errors.required">Username is required</div>
                        <div *ngIf="getUsername.errors.minlength">Username should minimum {{getUsername.errors.minlength.requiredLength}} characters</div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input formControlName="password" [(ngModel)]="passwordL" type="password" name="password" class="form-control" id="password">
                    <div *ngIf="getPassword.pending">Checking  for unique</div>
                    <div *ngIf="getPassword.touched && getPassword.invalid" class="alert alert-danger">
                        <div *ngIf="getPassword.errors.required">Password is required</div>
                        <div *ngIf="getPassword.errors.minlength">Password should minimum {{getPassword.errors.minlength.requiredLength}} characters</div>

                    </div>

                </div>

                <div class="float-right">
                    <input type="submit" class="btn btn-success" style="width: 100px;" value="Login"/>
                    <button class="btn btn-danger ml-3" (click)="cancel()" style="width: 100px;">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</ng-template>
<ng-template #Register>

    <div class="modal-header">
        <div class="text-center w-100 text-success"> <h4 class="modal-title pull-left">Register</h4></div>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" >
        <form [formGroup]="RegisterForm" (ngSubmit)="register()">
            <div class="form-group">
                <label for="username">Username:</label>
                <input formControlName="usernameR" [(ngModel)]="usernameR" name="username" type="text" class="form-control" id="username">


                <div *ngIf="getUsernameR.touched && getUsernameR.invalid" class="alert alert-danger">
                    <div *ngIf="getUsernameR.errors.required">Username is required</div>
                    <div *ngIf="getUsernameR.errors.minlength">Username should minimum {{getUsernameR.errors.minlength.requiredLength}} characters</div>

                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" formControlName="passwordR" [(ngModel)]="passwordR" name="passwprd"  class="form-control" id="password">

                <div *ngIf="getPasswordR.touched && getPasswordR.invalid" class="alert alert-danger">
                    <div *ngIf="getPasswordR.errors.required">Password is required</div>
                    <div *ngIf="getPasswordR.errors.minlength">Password should minimum {{getPasswordR.errors.minlength.requiredLength}} characters</div>

                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password:</label>
                <input type="password" formControlName="confirmPasswordR" id="confirmPassword" [(ngModel)]="confirmPasswprdR"   class="form-control" compare="passwordR" >


                <div *ngIf="getCategory.touched && getCategory.invalid" class="alert alert-danger">
                    <div *ngIf="getCategory.errors.required">Confirm password is required</div>
                    <div *ngIf="getCategory.errors.compare">Confirm password not match</div>

                    <div *ngIf="getCategory.errors.minlength">Confirm password should minimum {{getCategory.errors.minlength.requiredLength}} characters</div>

                </div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input formControlName="emailR" [(ngModel)]="emailR" name="email" type="text" class="form-control" id="email">

                <div *ngIf="getEmailR.touched && getEmailR.invalid" class="alert alert-danger">
                    <div *ngIf="getEmailR.errors.required">Email is required</div>
                    <div *ngIf="getEmailR.errors.minlength">Email should minimum {{getEmailR.errors.minlength.requiredLength}} characters</div>
                    <div *ngIf="getEmailR.errors.email">Input isn't email</div>

                </div>
            </div>

            <div class="text-center">
                <input class="btn btn-success" type="submit" style="width: 100px;" value="Register"/>
                <button class="btn btn-danger ml-3" style="width: 100px;">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>