
<div class="row">
  <div class="col">
    <img src="assets/images/mic.jpg" class="rounded-top w-100" style="height: 200px; "/>
  </div>
  <div class="col">
    <form [formGroup]="AddDevice" (ngSubmit)="addDevice()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input formControlName="name" [(ngModel)]="name" name="name" type="text" class="form-control" id="name">


        <div *ngIf="getName.touched && getName.invalid" class="alert alert-danger">
          <div *ngIf="getName.errors.required">Name device is required</div>
          <div *ngIf="getName.errors.minlength">Name device should minimum {{getName.errors.minlength.requiredLength}} characters</div>

        </div>
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" formControlName="location" [(ngModel)]="location" name="location"  class="form-control" id="location">

        <div *ngIf="getLocation.touched && getLocation.invalid" class="alert alert-danger">
          <div *ngIf="getLocation.errors.required">Location is required</div>
          <div *ngIf="getLocation.errors.minlength">Location should minimum {{getLocation.errors.minlength.requiredLength}} characters</div>

        </div>
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" formControlName="category" id="category"
               [typeahead]="categories" [(ngModel)]="category"   class="form-control" >


        <div *ngIf="getCategory.touched && getCategory.invalid" class="alert alert-danger">
          <div *ngIf="getCategory.errors.required">Category is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input formControlName="quantity" [(ngModel)]="quantity" name="quantity" type="number" class="form-control" id="quantity">

        <div *ngIf="getQuantity.touched && getQuantity.invalid" class="alert alert-danger">
          <div *ngIf="getQuantity.errors.required">Quantity is required</div>


        </div>
      </div>
        <div class="form-group">
          <label for="detail">Detail:</label>
          <input formControlName="detail" [(ngModel)]="detail" name="detail" type="text" class="form-control" id="detail">

          <div *ngIf="getDetail.touched && getDetail.invalid" class="alert alert-danger">
            <div *ngIf="getDetail.errors.required">Detail is required</div>
            <div *ngIf="getDetail.errors.minlength">Detail should minimum {{getDetail.errors.minlength.requiredLength}} characters</div>
          </div>
      </div>

      <div class="text-center">
        <input class="btn btn-success" type="submit" style="width: 100px;" value="Add"/>
        <button class="btn btn-danger ml-3" style="width: 100px;"  (click)="Cancel()">Cancel</button>
      </div>
    </form>


  </div>
</div>


