<li [@hoverState]="getState" (mouseenter)="show=true" (mouseleave)="show=false"> <a class="text-center" style="font-size: 20px" [routerLink]="route"  >
  <div class="row"><div class="col-4  text-right"><i style="font-size: 30px" [class]="icon" ></i></div> <div class="col-8 text-left">{{value}}</div></div></a></li>
          