
<div class="card  rounded mb-5 w-100"  (click)="lgModal.show();" [@popOverState]="stateName" [@translate]="stateA"  (mouseenter)="toggle();"  (mouseleave)="toggle();" >
    <div  >
      <img src="assets/images/mic.jpg" class="rounded-top w-100" style="height: 200px; "/>
     <div class="text-center p-2"> <h5 class="card-title font-weight-bold">{{device.Name}}</h5></div>
    </div>
    <label class="btn btn-danger" >Borrow</label>
  </div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
              <div class="text-center w-100"> <h4 id="dialog-sizes-name1" class="modal-title pull-left">Book equipment</h4></div>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/mic.jpg" class="rounded-top w-100" style="height: 200px; "/>
                    </div>
                    <div class="col">
                        <div class="row">

                            <div class="text-center w-100">
                                <h3>Mouse-5525</h3>
                            </div>
                             <div class="w-100 text-left ml-3">Time : </div>
                            <div class="form-group col-8 mt-2">
                                <input class="form-control w-100 text-center" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
                            </div>
                            <div class="col-4 mt-2">
                                <button class="btn btn-success w-100" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen">Date</button>

                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <div class="col-7"></div>
                            <span class="col-2">
                                <button class="btn btn-success" (click)="lgModal.hide()" (click)="book()"> Book</button>
                            </span>
                            <span >
                                <button  (click)="lgModal.hide()" class="btn btn-danger">Cancel</button>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>