<div class="body" >


<div class="container"  >
   <!-- devices -->
    <div style="margin-top: -80px; z-index: 1000" id="devices">_</div>


    <div class="text-center"><h3 class="text-success" style="margin-top: 100px">Devices</h3></div>

    <br/>
<div class="row" >
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4" ></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    <device class="col-12 col-sm-6 col-xl-4 col-lg-4"></device>
    
  </div>
  
  <div class="text-center">  <button type="button" class="btn btn-outline-success">View all devices</button></div> 
<!-- ---- -->

<about ></about>
<contact></contact>
</div>
<br/>
<br/>
<br/>
<footer></footer>

</div>