


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    z-index: 1000;
}

.menuadmin{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    height: 95vh;
    text-decoration: none;
    position: fixed;
    top: 0px;
    left: 0px;
}