<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row ">
    <div class="col-3"></div>
    <div class="col-9 ">
        <router-outlet ></router-outlet>
    </div>
    <div class=" col-3 menuadmin">

        <div class="text-center m-3  border-bottom pb-3  ">
             <h2  > <img src="assets/images/tma.png" style="height: 45px;width: 70px;float: left" alt="logo"> TMA Solution</h2>
        </div>
        <ul class="w-100">
            <item-admin [route]="'/admin/dashboard'"   [value]="'DASHBOARD'" [icon]="'fa fa-dashboard'"></item-admin>
            <item-admin [route]="'/admin/user'"   [value]="'USER PROFILE'" [icon]="'fa fa-user-plus'"></item-admin>
            <item-admin [route]="'/admin/device'"   [value]="'DEVICES'" [icon]="'fa fa-phone'"></item-admin>
            <item-admin [route]="'/admin/image'"   [value]="'IMAGES'" [icon]="'fa fa-picture-o'"></item-admin>
            <item-admin [route]="'/admin/pending'"   [value]="'PENDING'" [icon]="'fa fa-user-plus'"></item-admin>
        </ul>

    </div>

</div>