<div class="card  rounded mb-5 w-100"  (click)="lgModal.show();" [@popOverState]="stateName" [@translate]="stateA"  (mouseenter)="toggle();"  (mouseleave)="toggle();" >
  <div  >
    <img src="assets/images/mic.jpg" class="rounded-top w-100" style="height: 200px; "/>
    <div class="text-center p-2 w-100 alert-success"> <h5 class="card-title font-weight-bold">{{device.Name}}</h5></div>
    <div CLASS="text-center p-2 w-100 text-danger"><h5 class="card-title font-weight-bold"></h5></div>
  </div>
  <label class="btn btn-danger" >Borrow</label>
</div>