
<div style="margin-top: -80px; z-index: 1000" id="about">_</div>
<br/>
<br/>
<div class="text-center" >
    <div class="ml-5 mr-5" >
    <h3 class="text-success" style="margin-top: 80px;">About</h3>

        <p class="transform">
       <strong>TMA</strong>  Solutions was established in 1997 to provide quality software outsourcing services to leading companies worldwide. We are one of the 
       largest software outsourcing companies in <strong>Vietnam</strong>  with
       <strong>2,200</strong>    engineers. Our engineering team was selected from a large pool of Vietnam IT resources; they are well-trained
         and have successfully completed many large and complex projects.
        TMA was founded in 1997 with six engineers.
      
    </p>
    <p class="transform"><strong> From 1998 to 2004</strong>  , TMA has three offices with 300 engineers, and new customers from Europe, Australia, Singapore and India. On the list of 15 global companies with “Offshore Software Outsourcing Best Practices” (Aberdeen Group’s report). 
        <strong>In 2005</strong> , TMA opened the first oversea office in Canada and became an international company providing software outsourcing. Between 2006 and 2008, TMA opened three new overseas offices in Japan, United States,[4] and Europe. Achieved TL9000 and became Microsoft Gold Certified Partner. 
        <strong>In 2009</strong>   , TMA opened TMA Mobile Solutions(TMS), and had one new office in Australia. In 2010, TMA opened its first Research & Development (R&D) center called iRDC in Quang Trung Software City in Ho Chi Minh City.[5] In 2011, TMA achieved CMMi Level 5, reached 1,000 employees
        <strong>In 2012</strong>  , TMA joined CeBIT exhibition, demonstrating several products in Hanover, Germany. TMA Solutions is a member of Viet Nam Software Association such as VINASA, Hochiminh Computer Association (HCA),etc.[7]
        <strong>In 2013</strong> , TMA certified ISO 27001:2005 and established Japan Center (TJC), Big Data & Analytics group. TMA got double market in Australia.
        <strong>In 2014</strong> , TMA launched IMS (IT Managed Services), established T-Design Center (UX/UI) and IoT (Internet of Things) Group, reached 1,700 employees.
        <strong>In 2015</strong>  , TMA launched broadcasting system for internal communication, People CMM, quarterly star performer awards and reached 1,800 employees.
    </p> 

    </div>
    </div>